@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "About My Site";
}
<form>
   
   <b><p>A freeworker, freelance worker, or freelance is somebody who is self-employed and is not committed to a particular employer long term. These workers are often represented by a company or an agency that resells their labor and that of others to its clients with or without project management and labor contributed by its regular employees. Others are completely independent. 'Independent contractor" would be the term used in a higher register of English.
Fields where freelancing is common include; music, journalism, publishing, screenwriting, filmmaking, acting, photojournalism, cosmetics, fragrances, editing, event planning, event management, copy editing, proofreading, indexing, copywriting, computer programming, web design, graphic design, website development, consulting, tour guiding, video editing, video production and translating.
Freelance practice varies greatly. Some require clients to sign written contracts, while others may perform work based on verbal agreements, perhaps enforceable through the very nature of the work. Some freeworkers may provide written estimates of work and request deposits from clients.
Payment for freelance work also varies greatly. Freeworkers may charge by the day, hour, a piece rate, or on a per-project basis. Instead of a flat rate or fee, some freeworkers have adopted a value-based pricing method based on the perceived value of the results to the client. By custom, payment arrangements may be upfront, percentage upfront, or upon completion. For more complex projects, a contract may set a payment schedule based on milestones or outcomes.
In writing and other artistic fields, "freelance" and its derivative terms are often reserved for workers who create works on their own initiative, then look for someone to publish them. They typically keep the copyright to their works and sell the rights to publishers in time-limited contracts. In contrast, intellectual property created under a work for hire situation according to the publishers' or other customers' specifications are referred to as "independent contractors" and similar terms. They have no copyright to the works, which are written as works made for hire, a category of intellectual property defined in US copyright law — Section 101, Copyright Act of 1976 (17 USC §101). This is the opposite of the situation with a regular employee, the relationship between a freeworker and an employer being that between two business equals, the protections of the intellectual property rights that naturally vest in the creator of the work are considered to have been sold in toto in the work for hire agreement.
 </p></b> 
    
</form>
<p>
    This Web Site is for the unemployeed people who want to work to earn online money and this site 
    can increase their interest and thier exprties . For more information, visit the 
    <a href="http://www.freeworker.com">Free Worker homepage</a>.
    <div>
                <b><label>Group Members: </label></b><br/>  
        <h1><b><p>  1: Kanwar Salman Abid     1821/FBAS/BSCS/F09</p></b>
        <b><p>  2: Muhammad Ali Ch.           1791/FBAS/BSCS/F09</p></b>
        <b><p>  3: Zulfiqar Ahmed             1764/FBAS/BSCS/F09</p></b>
        <b><p>  4: Naqqash Nisar              1816/FBAS/BSCS/F09</p></b></h1>
    </div>
</p>
