@{  
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Welcome to Free Worker!";
}
<p>
   Free Worker is and official web site that provides facilities to the user to work on 
    the project and earn money via user Accounts Provoided by the the http:\\www.freeworkers.com
</p>