@{
     Layout = "~/_SiteLayout.cshtml";
}
<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        <h1><b><p>Project has been posted successfuly </p></b></h1>
    </body>
</html>
